.search-result {
  text-align: left;
  border: solid 2px #ddd;
  border-radius: 10px;
  overflow: hidden;
  padding: 16px 12px;

  .zipcode-header {
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: solid 2px #ddd;
  }

  .result-card {
    text-align: left;
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: solid 2px #ddd;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
    
    &.zipcode-card {
      background-color: #f7f7f7;
      border-color: #bbb;
    }
  }
  
  .result-item {
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: solid 2px #ddd;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
  
    p {
      margin-bottom: 5px;
      
      &:last-child {
        margin-bottom: 0;
      }
    }
    
    .label {
      font-weight: 600;
      margin-right: 5px;
    }
  }
}